          
          <div class="talks">
            {% if site.talks != blank -%} 
            {%- assign talks_size = site.talks | size -%}
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
                <colgroup>
                  <col span="1" style="width: 15%;">
                  <col span="1" style="width: 85%;">
               </colgroup>
              {%- assign talks = site.talks | reverse -%}
              {% if page.talks_limit %}
              {% assign talks_limit = page.talks_limit %}
              {% else %}
              {% assign talks_limit = talks_size %}
              {% endif %}
              {% for item in talks limit: talks_limit %} 
                <tr>
                  <th scope="row">{{ item.date | date: "%b %-d, %Y" }}</th>
                  <td>
                    {% if item.inline -%} 
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%} 
                      <a class="talks-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                    <br>
                    <em>{{ item.venue }}</em>
                    {% if item.transcript -%} 
                      <a class="talks-transcript" href="{{ item.transcript }}">[Transcript]</a>
                    {%- endif %}
                    {% if item.note -%} 
                      [{{ item.note }}]
                    {%- endif %}
                  </td>
                </tr>
              {%- endfor %} 
              </table>
            </div>
          {%- else -%} 
            <p>No talks so far...</p>
          {%- endif %} 
          </div>
